{% extends 'index.html' %}
{% block title %}
<h1 class="title">Авторы</h1>
{% endblock title %}
{% block search %}
<div class="action_panel">
    <form action="" method="get">
        <label for="search">Поиск</label>
        <input type="search" name="search" id="authors" onkeyup="window.search(this.value, this.id);" 
        placeholder="Введите имя или фамилию автора">
    </form>
</div>
{% endblock search %}
{% block content %}
<div id="ajax_result">
    {% include 'authors_ajax.html' %}
</div>
{% endblock content %}