<div class="item-add">
    <a href="#" class="close">X</a>
    <form action="/books/del/{{pk}}" method="post" id="del_book" >
        {% csrf_token %}
        
    </form>
    <form action="
    {% if suburl == 'add' %}
        /books/add/
    {% else %}
        /books/edit/{{pk}}
    {% endif %}"
     method="post" id="add_book" enctype="multipart/form-data">
     {% csrf_token %}
        <h3>Новая книга</h3>
        {{form.as_p}}
        <div class="btn">
            <button type="submit" >отправить</button>  
            {% if suburl == "edit" %}
            <button type="submit" form="del_book" style="background: red">Удалить</button>
            {% endif %} 
        </div>         
    </form>

</div>